.button {
  color: var(--color-main);
  background-color: transparent;
  border: solid 1px currentColor;
  padding: 4px 8px;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  background-color: var(--color-main);
  color: #fff;
}
